.custom_input {
  color: hsl(var(--nextui-content1)) !important;

  &::placeholder {
    color: hsl(var(--nextui-content1-300));
  }

  &__base {
    color: hsl(var(--nextui-content1-100));

    &[data-invalid='true'] {
      & [data-slot='input-wrapper'] {
        border: 1px solid hsl(var(--nextui-danger-300));

        &[data-focus="true"] {
          outline-color: #FEE4E2;
        }
      }

      & .custom_input__helper_wrapper {
        color: hsl(var(--nextui-danger-500));
      }
    }
  }

  &__input_wrapper {
    border-radius: 8px;
    border: 1px solid hsl(var(--nextui-divider));
    background-color: hsl(var(--nextui-background));
    box-shadow: none;
    outline: 3px solid transparent;
    transition: border var(--transition), outline-color var(--transition);

    &[data-focus="true"] {
      border-color: #84ADFF !important;
      outline-color: #EBEDFF;
    }
  }

  &__label {
    color: hsl(var(--nextui-content1-100)) !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__helper_wrapper {
    padding-top: 6px;
  }
}