.custom_input {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  color: hsl(var(--nextui-content1-100)) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.4 !important;

  &::placeholder {
    color: hsl(var(--nextui-primary-300)) !important;
  }

  &.with_label {
    &::placeholder {
      color: hsl(var(--nextui-primary-200)) !important;
    }
  }

  &__inner_wrapper {
    &.default {
      height: 56px !important;
    }
  }

  &__base {
    &[data-invalid='true'] {
      & [data-slot='input-wrapper'] {
        border: 1px solid hsl(var(--nextui-danger)) !important;
      }
    }
  }

  &__input_wrapper {
    height: 100% !important;
    background-color: hsl(var(--nextui-secondary-300)) !important;
    transition: background-color var(--transition) !important;

    @include hover {
      background-color: hsl(var(--nextui-secondary-400)) !important;
    }

    &.with_inner_label {
      height: 54px !important;
      padding: 8px 12px !important;
    }
  }

  &__label {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.4 !important;
    letter-spacing: 0.14px;

    &.with_label {
      color: hsl(var(--nextui-primary-500)) !important;
    }

    &.with_inner_label {
      color: hsl(var(--nextui-primary-300)) !important;
      font-size: 12px !important;
      line-height: 1.3 !important;
    }
  }
}
