@import 'variables';
@import 'themes';
@import 'breakpoints';
@import 'classnames';

$min-width: var(--min-width);
$bg-color-primary: var(--bg-color-primary);
$font-color-primary: var(--font-color-primary);
$scrollbar-track-color: var(--scrollbar-track-color);
$scrollbar-thumb-color: var(--scrollbar-thumb-color);

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  display: block;
  min-width: $min-width;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: $bg-color-primary;
  font-weight: 400;
  font-style: normal;
  color: $font-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  overflow: auto;
  letter-spacing: -0.025em;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  text-overflow: ellipsis;
  letter-spacing: inherit;
}

p {
  margin: 0;
  letter-spacing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

//input {
//  &:-webkit-autofill,
//  &:-webkit-autofill:hover,
//  &:-webkit-autofill:focus {
//    font-family: inherit;
//    transition: background-color 600000s 0s,
//    color 600000s 0s;
//    -webkit-text-fill-color: $font-color-primary;
//  }
//
//  &:-webkit-autofill {
//    font-family: inherit;
//    background-color: $bg-color-primary;
//  }
//}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  margin: 0;
  background-color: $scrollbar-track-color;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border: 2px solid $scrollbar-track-color;
  border-radius: 1rem;
}
