:root {
  // font color
  --font-color-primary: #1e2b5b;
  --font-color-light: #ffffff;
  --font-color-gray: #8e95ad;
  --font-color-blue: #3dbdec;
  --font-color-red: #eb0e0e;

  // body color
  --bg-color-primary: #f1f4f8;
  --bg-color-light: #ffffff;
  --bg-color-dark: #1e2b5b;

  //accent
  --accent-color-blue: #3dbdec;
  --error-color: #ff2a2a;

  // borders
  --border-grey: 1px solid #8e95ad7f;
  --border-light: 1px solid #ffffff;

  --border-color: #8e95ad;

  // scroll
  --scrollbar-track-color: var(--bg-color-primary);
  --scrollbar-thumb-color: var(--bg-color-dark);
}
