.layout {
  z-index: 0;

  &__main {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    max-width: var(--max-width);
    min-height: calc(100dvh - 60px);
    margin: calc(var(--header-height) * -1) auto 0;
    padding: var(--header-height) 0 20px;
  }

  &__nav_bar_laptop {
    position: sticky;
    display: none;
    max-height: calc(100dvh - var(--header-height) - 40px);
    top: calc(var(--header-height) + 20px);
  }

  &__nav_bar_mobile {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 51;
  }

  &__inner {
    max-width: 100%;
    width: 100%;
    display: grid;
    height: fit-content;
    grid-gap: 20px;
  }

  &__footer_laptop {
    display: none;
  }

  &__footer_mobile {
    display: block;
  }

  @include laptop {
    &__main {
      grid-template-columns: auto 1fr;
      min-height: 100dvh;
      padding: calc(var(--header-height) + 20px) 20px 20px;
    }

    &__nav_bar_laptop {
      display: grid;
    }

    &__inner {
      min-height: calc(100dvh - var(--header-height) - 40px);
    }

    &__nav_bar_mobile {
      display: none;
    }

    &__footer_laptop {
      display: block;
      align-self: end;
    }

    &__footer_mobile {
      display: none;
    }
  }
}
